<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="search">
    <div class="search-bar" >     
      <ion-searchbar
        placeholder="bushcaaa"
        [(ngModel)]="sorch"
        showCancelButton="focus"
        animated
      ></ion-searchbar>
    </div>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <div (click)="french()" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text style="padding: 20px;">French</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="japanese()" class="ion-text-center" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text>Japanese</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="russian()" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text style="padding: 20px;">Russian</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="best()" class="ion-text-center" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text >Best Av.</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="mostvoted()" class="ion-text-center" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text >+ voted</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="todas()" class="ion-text-center" style="height: 30px; width: 100px; background-color: lightgrey;" >
          <ion-text >Todas</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </div>


  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let m of movies | filter: sorch" (click)="lookInto(m)">
          <ion-text style="font-weight: bold">{{m.original_title}}</ion-text>
        </ion-item>
      </ion-list>      
    </ion-col>    
  </ion-row>



</ion-content>



<ion-footer >
  <ion-toolbar style="--background: gray;">
    <ion-button (click)="back()" color="dark" style="margin-left: 15px;">
      <ion-icon name="arrow-back-outline"></ion-icon>      
    </ion-button>
  </ion-toolbar>
</ion-footer>