
    
ion-card-content{
    
    
    
    margin: auto;
    
}

    .campos{
        
        
        
       
        
    }
    ion-button{
        margin-top: 20px;
        width:100%; 
        height: 40px; 
        font-size: large;
    }

    ion-card-subtitle{
        
        margin-top: 30px;
        
    }



