
    
ion-card-content{
    margin-top: 150px;
    
}

    .campos{
        margin-top: 10%;
        
    }
    ion-button{
        margin-top: 20px;
        width:100%; 
        height: 60px; 
        font-size: large;
    }

    ion-card-subtitle{
        
        margin-top: 20px;
        margin-left: 50px;
    }



