<ion-header>
  <ion-toolbar>
    <ion-title>genre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row>
    <ion-col>
      <h3 class="ion-text-center">
        {{genero}}
      </h3>
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let m of movies" (click)="lookInto(m)">
          <ion-text style="font-weight: bold">{{m.original_title}}</ion-text>
        </ion-item>
      </ion-list>      
    </ion-col>    
  </ion-row>
 

</ion-content>


<ion-footer >
  <ion-toolbar style="--background: gray;">
    <ion-button (click)="back()" color="dark" style="margin-left: 15px;">
      <ion-icon name="arrow-back-outline"></ion-icon>      
    </ion-button>
  </ion-toolbar>
</ion-footer>