.carousel{
  height: 100%;
  width: 100%
}


.plano-review{
 
  width:320px;
  height: auto;
  
  


  /* background-color: lightgreen; */
  display: flex;

  .perfil{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    /* background-color: aquamarine; */
    align-items: center;


    .perfil-foto{
      width: 50px;
      height: 50px;
      


    }//perfil-foto
    .perfil-username{
      

    }
  }//perfil
  .contenido{
    height: auto;
    width: 270px;
    /* background-color: aqua; */
  }//contenido
  
  
}//plano-review

.plano-estrellas{
  width:320px;
  height: 25px;
  /* background-color: bisque; */
  background-color: lightgrey;
  margin-bottom: 30px;
  display: flex;
}


.deleteComment{
  margin-top: 3px;
  margin-bottom: 20px;
  height: 17px;
  width: 45px;
  background-color: lightgrey;
}

