<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="verTrailer()">movie</ion-title>   
  </ion-toolbar>

  <ion-icon name="star-outline" size="large" style="float: right; margin-right: 15px;"></ion-icon>
</ion-header> -->


<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title (click)="verTrailer()">
      Movie
    </ion-title>     
        <ion-icon *ngIf="!favorite" (click)="saveFavorite()"
        name="star-outline" 
        size="large" slot="secondary" 
        style="margin-right: 15px;"></ion-icon>

        <ion-icon *ngIf="favorite" (click)="saveFavorite()"
        name="star" 
        size="large" 
        slot="secondary" 
        style="margin-right: 15px;"></ion-icon>
   </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>





        <div style="width: 100%; height: 200px;">        
          <ion-slides>
            <ion-slide *ngFor="let es of eslaids" >
              <ion-card >
                <img *ngIf="!trailerVisible" style="max-height: 200px;" src="{{es.imagen}}" alt="">

                <iframe  *ngIf="trailerVisible"
                width="100%" 
                height="200" 
                [src]="trailer" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
              </ion-card>                   
            </ion-slide>
          </ion-slides>
        </div>







        

        <!-- <img src="{{urll+movie.backdrop_path}}" alt="">   -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">
          {{movie.original_title}}
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          {{movie.overview}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row >

      <ion-col class="ion-text-center" (click)=changeNewVoteAverageIsOn()>
        <p *ngIf="!newVoteAverageIsOn">rate: {{movie.vote_average}}</p>
        <p *ngIf="newVoteAverageIsOn">rate: {{newVoteAverage}}</p>
      </ion-col>       

      <div>
        <div>
          <ngb-rating [max]="10" [(rate)]="currentRate" [readonly]="false" ></ngb-rating>
        </div>
        <div style="display: flex;">
          <div>
            <ion-text *ngIf="currentRate!=0">{{currentRate}}</ion-text>
            <ion-text *ngIf="currentRate==0">Vote now!</ion-text>
          </div>
          <div style="height: 20px; width:80px; margin-left: 10px; font-size: small;" (click)="deleteVote()">
            <ion-text *ngIf="currentRate!=0" >remove vote</ion-text>
          </div>
        </div>         
      </div>


        <ion-col class="ion-text-center" (click)="saveRating()">

          <p *ngIf="!newVoteAverageIsOn">votes: {{movie.vote_count}}</p>
          <p *ngIf="newVoteAverageIsOn">votes: {{newVoteVoters}}</p>
        </ion-col>        

    </ion-row>
  </ion-grid>

  <ion-row (click)="refresh()">
    <ion-col>
      <p style="font-weight: bold">Comments</p> 
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let com of comments">
          <ion-text style="font-weight: bold" (click)="fetchUser(com.iduser, com.user)">@{{com.user}}</ion-text>
           <ion-text style="margin-left: 10px;">{{com.comment}}</ion-text>
        </ion-item>
      </ion-list>      
    </ion-col>    
  </ion-row>
  <ion-row>
    <ion-item style="border-radius: 10px;">
      
      <ion-input  name="name" type="text" [(ngModel)]="komentario"></ion-input >      
    </ion-item>
    <ion-button (click)="saveComments()">comentar</ion-button>
  </ion-row>





</ion-content>


<ion-footer >
  <ion-toolbar style="--background: gray;">
    <ion-button (click)="back()" color="dark" style="margin-left: 15px;">
      <ion-icon name="arrow-back-outline"></ion-icon>      
    </ion-button>
  </ion-toolbar>
</ion-footer>