

.carousel{
  height: 60px;
  margin-top: 10px;
 
}

.search{
  
  
  height: 60px;
  width: 100%;
  
  .search-bar{
    float: right;
    
    
    ion-searchbar{
      --icon-color:white;
      --background: #808080;
      --color: white;
      --border-radius: 30px;
      float: right;
      width: 360px;     
      
    }
    img{
      padding: 5px 35px ;
      float: right;
    }
  
    
  }
}

.top-rated-movies{
  .header{
    height: 40px;
    width: 100%;
    background-color: white;
    img{
      padding: 10px 20px ;
    }
  }
  height: 400px;
  width: 100%;

  .carousel-top-rated-movies{
    height: 320px;
    width: 100%;

    
    .template{
      
      height: 320px;
      width: 180px;
      /* background-color: rgb(194, 194, 194); */
      .movie{
        img{
          margin-left: 10px;
          border-radius: 10px;
          height: 180px;
          width: 160x;
          
        }
        max-height: 70%;
        max-width: 90%;
        /* background-color: darkgreen; */
        margin: auto;
        margin-top: 15px;
        border-radius: 10px;
      }
      .rating{
        display: flex;
        align-items: center;
        width: 30%;
        height: 25px;
        /* background-color: darkorange; */
        margin-left: 65px;
      }
      .nombre{
        width: 90%;
        
        /* background-color: rgb(131, 174, 255); */
        margin-left: 15px;
       
        ion-label{
          
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }

  }
  
}