<ion-header [translucent]="true">
  <ion-toolbar style="--background: gray">
    <ion-title style="--color: white">
      Home
    </ion-title>    
      <ion-button (click)="fetchUser()"  slot="secondary" color="dark" style="margin-right: 20px;">
        <ion-icon slot="icon-only" size="large" name="person-circle" ></ion-icon>
      </ion-button>
   </ion-toolbar>
</ion-header>




<ion-content  style="width: 360px;">
  <div class="carousel" >
    <ion-slides style="height: 60px" [options]="sliderConfigMovie">
      <ion-slide *ngFor="let gen of genre" >
        <ion-chip style="height: 40px;" (click)="getMoviesGenre(gen.genre, gen.id)">
          <ion-label>{{gen.genre}}</ion-label>
        </ion-chip>        
      </ion-slide>
    </ion-slides>
  </div>

  <div class="search" (click)="search()">
    <div class="search-bar" >     
<!--       <ion-searchbar></ion-searchbar> -->
    </div>
  </div>


  
  <div class="top-rated-movies">
    <div class="header">
      <img src="../../assets/img/top-rated-movies.png" alt="">
    </div>
    <div class="carousel-top-rated-movies" >         <!-- carousel -->
      <ion-slides [options]="sliderConfigMovie" >
        <ion-slide *ngFor="let peli of movie">

          
          
         <!--  <div class="template" (click)="send(peli.title, peli.overview, img_url+peli.backdrop_path, peli.vote_average, peli.vote_count, peli.id)"> -->
          <div class="template" (click)="send(peli)">                     
            <div class="movie">  
              <img src="{{img_url+peli.poster_path}}" alt="">              
            </div>
            <div class="rating">              
              <ion-label style="font-size: small; font-style: oblique;">{{peli.vote_average}}</ion-label>
              <img src="../../assets/img/0.png" alt="" style="margin-left: 5px;" *ngIf="checkRating0(peli.vote_average)">
              <img src="../../assets/img/123.png" alt="" style="margin-left: 5px;" *ngIf="checkRating123(peli.vote_average)">
              <img src="../../assets/img/45.png" alt="" style="margin-left: 5px;" *ngIf="checkRating45(peli.vote_average)">
              <img src="../../assets/img/67.png" alt="" style="margin-left: 5px;" *ngIf="checkRating67(peli.vote_average)">
              <img src="../../assets/img/8.png" alt="" style="margin-left: 5px;" *ngIf="checkRating8(peli.vote_average)">
              <img src="../../assets/img/910.png" alt="" style="margin-left: 5px;" *ngIf="checkRating910(peli.vote_average)">
            </div>
            <div class="nombre">
              <ion-label style="font-size: medium; font-family: Arial; ">{{peli.title}}</ion-label>
            </div>  
            <!-- <ion-button (click)="send(peli.title, peli.overview, img_url+peli.backdrop_path, peli.vote_average, peli.vote_count, peli.id)"></ion-button> -->            
          </div>    
          
          
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  
    
</ion-content>

<div class="footer" >
  <ion-footer >
    <ion-toolbar style="--background: gray;">
      <ion-button routerLink="/signin" (click)="signout()" color="dark" style="float: right; margin-right: 15px;">        
        <ion-icon size="large" name="log-out-outline" style="margin-left: 10px;"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</div>


