<ion-header [translucent]="true">
  <ion-toolbar style="--background: gray">
    <ion-title style="--color: white">
      Perfil de usuario
    </ion-title>
      
   </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" >
    <div class="uno">
      <div class="foto">        
        <ion-img src="../../../assets/img/perfil.png"></ion-img>           
      </div>
      <div class="nombre">
        <ion-label style="font-size: large;">{{username}}</ion-label>
      </div>
    </div>

  <ion-card>    
    <div class="dos" *ngIf="!editIsPrivate">
      <div class="editar-perfil"> 
        <ion-icon style="padding: 12px;" size="large" name="pencil-outline"></ion-icon>       
        <ion-text color="black">
          <h4 >Editar perfil</h4>
        </ion-text>
        <ion-icon style="padding: 12px;" size="large" name="pencil-outline"></ion-icon>
      </div>

      <div class="form"> 
        <ion-item >
          <ion-label>Usuario: </ion-label>
          <ion-input [(ngModel)]="name" type="name"></ion-input>
        </ion-item>    
        <ion-item >
          <ion-label>Correo: </ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>       
        <ion-item >
          <ion-label>Contraseña: </ion-label>
          <ion-input [(ngModel)]="password" type="password" ></ion-input>
        </ion-item> 
        
        <div class="ion-padding-top">       
          <ion-grid>
            <ion-row>
              <ion-col>
                
                <div>
                  <div>
                    <ion-checkbox [(ngModel)]="showLastFavorites"></ion-checkbox>
                    <ion-label> Show last favorites</ion-label>
                  </div>
                  <div style="margin-top: 8px;">
                    <ion-checkbox [(ngModel)]="showLastComments"></ion-checkbox>
                    <ion-label> Show last comments</ion-label>
                  </div>
                  <div style="margin-top: 8px;">
                    <ion-checkbox [(ngModel)]="showLastRatings"></ion-checkbox>
                    <ion-label> Show last ratings</ion-label>
                  </div>
                </div>
                
              </ion-col>    
            </ion-row>
          </ion-grid>
        </div>








          <ion-button (click)="guardarCambios()" color="light">Guardar cambios</ion-button>         
      </div>
    </div>
  </ion-card>


<!-- 5 Last favorite movies -->
<div *ngIf="showLastFavorites">
  <ion-card>
    <ion-row>
      <ion-col class="ion-text-center" style="font-size: large;">
        <ion-list>
          <ion-text style="font-weight: bold">5 Last favorite movies</ion-text>
          <ion-item *ngFor="let x of favorites">

            <div style="display: inline-block;">
              <div>
                <ion-text style="font-weight: bold">Movie: {{x.movie}}</ion-text>
              </div>
            </div> 

          </ion-item>
        </ion-list>      
      </ion-col>    
    </ion-row>
  </ion-card>
</div>

<!-- 5 Last comments -->
    <div *ngIf="showLastComments">
      <ion-card>
        <ion-row>
          <ion-col class="ion-text-center" style="font-size: large;">
            <ion-list>
              <ion-text style="font-weight: bold">5 Last Comments</ion-text>
              <ion-item *ngFor="let x of lastcomments">
                <div style="display: inline-block;">
                  <div>
                    <ion-text style="font-weight: bold">Movie: {{x.movie}}</ion-text>
                  </div>
                  <div>
                    <ion-text style="margin-left: 10px;">{{x.comment}}</ion-text>
                  </div>
                </div>               
              </ion-item>
            </ion-list>      
          </ion-col>    
        </ion-row>
      </ion-card>
    </div>


<!-- 5 last ratings -->
    <div *ngIf="showLastRatings">
      <ion-card>
        <ion-row>
          <ion-col class="ion-text-center" style="font-size: large;">
            <ion-list>
              <ion-text style="font-weight: bold">5 Last Ratings</ion-text>
              <ion-item *ngFor="let x of lastratings">

                <div style="display: inline-block;">
                  <div>
                    <ion-text style="font-weight: bold">{{x.movie}}</ion-text>
                  </div>
                  <div>
                    <ngb-rating [max]="10" [(rate)]="x.rate" [readonly]="true" ></ngb-rating>
                    <ion-text style="font-weight: bold; margin-left: 8px;">{{x.rate}} stars</ion-text>
                  </div>               
                </div>         

              </ion-item>
            </ion-list>      
          </ion-col>    
        </ion-row>
      </ion-card>
    </div>























    
  </div>

</ion-content>

<ion-footer >
  <ion-toolbar style="--background: gray;">
    <ion-button routerLink="/signin" (click)="signout()" color="dark" style="float: right; margin-right: 15px;">      
        <ion-icon size="large" name="log-out-outline" ></ion-icon>     
    </ion-button>

    <ion-button (click)="back()" color="dark" style="margin-left: 15px;">
      <ion-icon name="arrow-back-outline"></ion-icon>      
    </ion-button>
  </ion-toolbar>
</ion-footer>
